:root {
    --AGI-Nav-width: 75px;
    --AGI-Drawer-width: 75px;
    --AGI-Desktop-Drawer-width: clamp(75px, 22.1vw, 450px);
    --AGI-Optima-Radius: * var(--joy-radius-lg)
}

.agi-ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}