:root {
    --AGI-Nav-width: 50px;
    --AGI-Drawer-width: 50px;
    --AGI-Desktop-Drawer-width: clamp(100px, 22.1vw, 450px);
    --AGI-Optima-Radius: 1rem; /* var(--joy-radius-lg) */
}

.agi-ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}